---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout favicon="😩" title="404">
  <p class="text-center">
    Idk what you're looking for, but this ain't it. Please go <a
      href="/"
      class="underline">back</a
    >.
  </p>
</AppLayout>
