---
import VehicleFinanceCalculator from "../components/vehicleFinanceCalculator.svelte";
---

<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Calculators</title>
  </head>
  <body class="p-4 flex flex-col items-center">
    <VehicleFinanceCalculator client:load="svelte" />
  </body>
</html>
